<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Error Page" />
<meta name="author" content="Pooja-Pandit" />

<link href="css3/bootstrap.min.css" rel="stylesheet"/>

<link href="css3/1-col-portfolio.css" rel="stylesheet"/>

<title>Pooja Pandit - Error</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div id="header"></div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<h1>NO DATA FOUND</h1>
			</div>
		</div>
	</div>

	<script src="js3/jquery.js"></script>

	<script src="js3/bootstrap.min.js"></script>
	<script> 
	  $("#header").load("ppheader.html"); 
	  //$("#footer").load("footer.html"); 
	</script>
</body>
</html>